.contact-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

/* Details Section */
.contact-details {
	width: 45%;
}

.contact-details span,
.form-details span {
	font-size: 14px;
	text-transform: uppercase;
}

.contact-details h2,
.form-details h2 {
	font-size: 26px;
	line-height: 30px;
	padding: 1rem 0;
}

.contact-details h3 {
	font-size: 16px;
	padding-bottom: 1rem;
}

.contact-list li {
	display: flex;
	gap: 0.5rem;
	margin-bottom: 15px;
}

.contact-map {
	height: 400px;
	width: 55%;
}

.contact-map iframe {
	height: 100%;
	width: 100%;
}

/* Form Section */
.form-section {
	padding-top: 0 !important;
}

.form-container {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
	padding: 80px 40px;
	border: 1px solid var(--black);
}

.form-details {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-details div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form-details div input {
	width: 48%;
}

.form-details input,
.form-details textarea {
	width: 100%;
	padding: 12px 15px;
	outline: none;
	margin-bottom: 20px;
	border: 1px solid var(--black);
	box-sizing: border-box;
}

.form-people {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
	gap: 1rem;
}

/* Contact Cards */
.people {
	display: flex;
}

.people img {
	border-radius: 100px;
	height: 65px;
	margin-right: 15px;
}

.people p {
	font-size: 13px;
	line-height: 20px;
}

.people span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: var(--black);
}
