.hero-section {
	background: url(/assets/background.webp) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 11rem 0 9rem 0 !important;
}

.hero-section {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	justify-content: center;
	overflow: hidden;
}

.hero-container {
	margin-top: 3rem;
	margin: clamp('0', ' 0 1rem', '0 3rem');
	height: auto;
}

.hero-text {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.hero-text h1 {
	font-size: 110px;
	text-transform: uppercase;
}

.hero-text h2 {
	font-size: 27px;
	line-height: 1.3;
}

.hero-text p {
	font-size: 20px;
	line-height: 1.2;
}

.hero-text button {
	font-size: 18px;
}
