.navbar {
	background-color: white;
	box-shadow: var(--box-shadow);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.nav-logo {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.nav-links,
.nav-icons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.nav-icons a,
.nav-icons i {
	font-size: 25px;
	cursor: pointer;
}

.nav-links a {
	border-bottom: 1px solid transparent;
}

.nav-links a:hover,
.nav-links a.active {
	border-bottom: 1px solid var(--black);
	transition: all 0.3s ease;
}

.cart {
	position: relative;
}

.cart-amount {
	position: absolute;
	top: -10px;
	right: -5px;
	font-size: 16px;
	background-color: #cc0000;
	color: #fff;
	padding: 1px 3px;
	border-radius: 4px;
}

.menu::before {
	content: '';
	position: absolute;
	top: -5px;
	right: 20px;
	width: 20px;
	height: 20px;
	background-color: #fff;
	transform: rotate(45deg);
}

.menu {
	position: absolute;
	top: 65px;
	right: 235px;
	padding: 0 10px;
	background-color: #fff;
	width: 200px;
	border-radius: 4px;
	visibility: hidden;
	opacity: 0;
}

.menu.active {
	visibility: visible;
	opacity: 1;
}

.menu h3 {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #898989;
	line-height: 1.2em;
}

.menu span {
	font-size: 14px;
	color: #cecece;
	font-weight: 400;
}

.menu li {
	padding-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	gap: 5px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid transparent;
}

.menu i,
.menu a {
	font-size: 18px;
}

.menu li:hover a {
	text-decoration: underline;
}
