.product-hero {
	background-color: #141414;
	padding: 6rem 0 3rem;
	height: 100vh;
}

.container,
.hero-container {
	height: 100%;
}

.hero-header {
	margin-bottom: calc(6rem - 40px);
	border-bottom: 1px solid transparent;
}

.hero-header,
.hero-header a,
.hero-header span {
	color: #fff;
}

.hero-header span.active,
.hero-header a:hover {
	border-bottom: 1px solid #fff;
}

.hero-banner {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height: 90%;
}

.popup.active {
	display: block;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	display: none;
}

.popup video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60vw;
	border-radius: 5px;
	border: 3px solid #fff;
	object-fit: cover;
}

.fa-xmark {
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 45px;
	color: #fff;
	cursor: pointer;
}

.info {
	margin: 0 1.5rem;
	margin-bottom: 6rem;
}

.info h3 {
	color: #fff;
	font-size: 30px;
	padding-bottom: 5px;
}

.info p {
	color: #fff;
	padding-bottom: 15px;
}

.info button {
	color: #fff;
	border-color: #fff;
}

.info button:hover {
	background-color: #fff;
	color: #141414;
}

.product-details {
	padding: 6rem 0;
}

.details-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 6rem;
}

.gallery {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	place-self: center;
	gap: 0.5rem;
}

.image-container {
	width: 300px;
	height: 300px;
	display: flex;
	align-items: center;
}

.image-container img {
	max-width: 100%;
	max-height: 100%;
}

.thumbnails-container {
	display: flex;
	justify-content: space-between;
}

.thumbnails {
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	flex-basis: 24%;
	cursor: pointer;
}

.thumbnails img {
	max-width: 100%;
	max-height: 100%;
}

.details {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	align-content: center;
	gap: 1rem;
}

.details h4 {
	flex-basis: 100%;
	font-size: 22px;
}

.details h2 {
	flex-basis: 100%;
	font-size: 26px;
}

.details button,
.details select {
	padding: 10px 10px;
	margin-bottom: 15px;
}

.details span {
	line-height: 20px;
}
