.footer-section {
	padding: 1rem 0 1rem 0;
	background-color: #222;
}

.newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.newstext h4 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}

.newstext p {
	font-size: 14px;
	font-weight: 500;
	color: #898989;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fa-brands,
.footer-footer p {
	color: #898989;
}

.footer-icons {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.fa-brands {
	font-size: 30px;
}
