nav .container {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
    box-shadow: var(--box-shadow);
    position: fixed;
	height: 60px;
	width: 100%;
}

.nav a {
    color: var(--black);
}

.nav__logo a {
	font-size: 1.8rem;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.nav__links, .nav__icons {
	display: flex;
}

.nav__links li {
	display: flex;
	width: 100px;
	justify-content: center;
}

.nav__icons li{
    width: 50px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.nav__links a {
    border-bottom: 1px solid transparent;
}

.nav__links a:hover {
	border-bottom: 1px solid var(--black);
	transition: all 0.3s ease;
}